<div class="container-fluid">
  <p class="h3 p-3">{{ recetaDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid" 
          
          src="{{ recetaDetail.imagen }}"
          alt="{{ recetaDetail.nombre }}"
        />
      </div>
      <p>Estrellas : {{recetaDetail.estrellas}} | Cantidad opiniones: {{recetaDetail.cantidadOpiniones}}</p>
    </div>
    <div class="col">
      <dl>
        
        <dt>Descripcion</dt>
        <dd>{{ recetaDetail.descripcion }}</dd>
        <hr />
        <dt>Ingredientes</dt>
        <dd>{{ recetaDetail.ingredientes }}</dd>
        <hr />
        <dt >Autor de la receta</dt>
        <dd >{{ recetaDetail.autorReceta }}</dd>
        <hr />
        <dt class="bold">Mas info</dt>
        <dd>Dificultad: {{ recetaDetail.dificultad }} | Duracion: {{recetaDetail.duracion}}</dd>
        <dd>Categoria: {{recetaDetail.categoria}}</dd>
      </dl>
    </div>
  </div>
 </div>
